<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field class="custom-mat-field">
    <ngx-mat-intl-tel-input
      formControlName="phone"
      [onlyCountries]="['in', 'ph', 'mx', 'us']"
      [enablePlaceholder]="true"
      name="phone"
      #phone
      [cssClass]="'custom-flag-selector'"
    ></ngx-mat-intl-tel-input>
    <mat-hint>Please enter your phone number.</mat-hint>
    <mat-error *ngIf="form.get('phone')?.invalid && (form.get('phone')?.dirty || form.get('phone')?.touched)">
      Please enter a valid phone number.
    </mat-error>
  </mat-form-field>
  <button type="submit">Submit</button>
</form>
