.phone-container{
  position: relative;
  .form-group {
    display: flex;
    flex-direction: column;
    label {
      color: #28293d;
      font-size: 16;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      position: relative;
    }
    .input-container {
      display: flex;
      .country-selector,
      .phone-number {
        flex: 1;
      }
      .country-selector {
        margin-right: 10px;
      }
      .country-code-select-panel {
          width: 300px;
      }
      .mobile-number-input {
        border: 1px solid #ccc;
        height: 30px;
        padding: 8px;
        box-sizing: border-box;
        flex: 1;
      }

    }
  }
}

  input {
    padding: 8px;
    border: 1px solid #B0C0CF;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    transition: border-color 0.3s;
  }

  input:focus {
    border-color: #8638E5;
    outline: none;
  }

  input.error {
    border-color: red;
    outline: none;
  }

  .country-flag {
    width: 1.9em;
    display: flex;
  }